<!--继承布局页-->
{% extends 'layout.html'%}
<!--重写父类的占位-->
{%block main%}

<!--路径导航-->
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><a href="javascript:">分类列表</a></li>
</ol>

<!--用户数据界面-->
<h3>分类列表</h3>
{%include 'category_page.html'%}
<table class="table table-hover table table-striped table-bordered">
    <!--tr>th*+tab-->
    <tr>
        <th>Id</th>
        <th>分类名称</th>
        <th>操作</th>
    </tr>
{% for category in categories %}
    <tr>
        <td>{{category._id.toString()}}</td>
        <td>{{category.name}}</td>
        <td>
            <a href="/admin/category/edit?id={{category._id.toString()}}"> 编辑</a>&nbsp;|
            <a href="/admin/category/delete?id={{category._id.toString()}}"> 删除</a>
        </td>
    </tr>
    {%endfor%}
</table>
{%include 'category_page.html'%}
{%endblock%}