<!--继承布局页-->
{% extends 'layout.html'%}
<!--重写父类的占位-->
{%block main%}

<!--路径导航-->
<ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li><a href="#">用户列表</a></li>
</ol>

<!--用户数据界面-->
<h3>用户列表</h3>
{%include 'page.html'%}
<table class="table table-hover table table-striped table-bordered">
    <!--tr>th*+tab-->
    <tr>
        <th>Id</th>
        <th>用户名</th>
        <th>密码</th>
        <th>是否是管理员</th>
    </tr>
{% for user in users %}
    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{%if user.isAdmin%}是{%endif%}
        </td>
    </tr>
    {%endfor%}
</table>
{%include 'page.html'%}
{%endblock%}